page-registro {

    .navheader{
        height: 67px;
    }
    .toolbar-title-ios{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(6, 20, 212);
        pointer-events: auto;
    }
    .icono{
        font-size: 33px;
    }
    .campoReg{
        color: rgb(6, 20, 212);
    }
    .inputReg{
        font-size: 1.3rem;
    }
    .contenedorBotones{
        text-align: center;
    }
    .botones{
        margin: 0 5%;
    }

    #doctor{
        display:none;
    }
}
