page-detalles-peticion {
  .navheader {
    height: 67px;
  }

  .toolbar-title-ios {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(6, 20, 212);
    pointer-events: auto;
  }

.fotopaciente {
    width: 50px;
    position: absolute;
    top: 15%;
    right: 5px;
  }
  .historial{
    font-size: 1.4rem;
    color: rgb(6, 20, 212);
}

  h2{
    font-size: 1.5rem;
  }

  #descripcion{
    text-align: justify;
    color:#666;
    padding: 0 10%;
    margin-top: 5%;
  }

  .tiltecardtext{
    font-size: 1.5rem;
}

.divider{
    height: 3px;
    max-height: 3px;
    min-height: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.input-wrapper{
  text-align: justify;
}

.tiltecardtext{
  text-align: center;
}
  


  .cuerpopeticion {
    display: none;
    font-size: 1.3rem;
    width: 80%;
    text-align: justify;
  }
}
