page-detalles-paciente {
    .navheader {
        height: 67px;
      }
    
      .toolbar-title-ios {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(6, 20, 212);
        pointer-events: auto;
      }
    
      .peticion {
        background: #81BEF7;
        border-radius: 25px;
      }
    
    
      .peticion_cuerpo {
        background: lightgrey;
        border-radius: 25px;
      }
    
      .peticion_cuerpo_2 {
        background: lightgrey;
        border-radius: 25px;
      }
    
      .peticion_cuerpo3 {
        border: 2px solid lightgrey;
        border-radius: 25px;
      }
    
    
      .peticion_header {
      }
    
      .contExtra {
        display: flex;
      }
    
      .sintomas {
        //width: 100%;
        padding: 20px;
        margin: 20px;
        font-size: 1.5rem;
        text-decoration: underline;
      }
    
      .sintomas_cuerpo {
        //width: 100%;
        padding: 20px;
        margin: 20px;
      }
    
    
    
      .fotopaciente {
        width: 50px;
        position: absolute;
        top: 15%;
        right: 5px;
      }
    
      .historial {
        font-size: 1.4rem;
        color: rgb(6, 20, 212);
        margin-bottom: 5px;
        padding-top: 5px;
      }
    
      .historialpeticion {
        //width: 100%;
        padding: 20px;
        margin: 20px;
        font-size: 1.5rem;
        font-weight: bold;
      }
    
    
    
    
    
    
    
    
    
      .flechapeticion {
        float: right;
        text-decoration: underline;
        cursor: pointer;
      }
    
      .cuerpopeticion {
        display: none;
        font-size: 1.3rem;
        width: 80%;
        text-align: justify;
      }
}
