page-detalles-paciente {
    .navheader {
        height: 67px;
      }
    
      .toolbar-title-ios {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(6, 20, 212);
        pointer-events: auto;
      }


      .tiltecardtext{
        font-size: 1.5rem;
    }
    
    .divider{
        height: 3px;
        max-height: 3px;
        min-height: 3px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .headerline{
      text-align: center;
  }
  ion-card-header{
    text-align: center;
  }

  h2{
    font-size: 1.5rem;
  }

  #descripcion{
    text-align: justify;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
  }

  .input-wrapper{
    text-align: justify;
  }







    
      .historialpeticion {
        padding: 5% 0;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0;
      }
    
      .peticion {
        background-color: #81BEF7;
        text-align: center;
        margin-bottom: 0;
      }
    
      .peticion_cuerpo {
        background: lightgrey;
        padding-bottom: 5%;
      }
    
      .peticion_header {
        font-size: 1.5rem;
      }
    
      .sintomas {
        //width: 100%;
        padding: 5% 14%;
        font-size: 1.5rem;
        text-decoration: underline;
      }
    
      .sintomas_cuerpo {
        //width: 100%;
        padding: 0px;
        margin-bottom:1%;
        margin-top: 1%;
        text-align: center;
      }
    
    
      .sintomas_cuerpo p{
        margin-bottom: 0;
      }
    
      .peticion_cuerpo_2 {
        background: lightgrey;
        padding-bottom: 5%;
      }
    
      .peticion_cuerpo3 {
        border: 2px solid lightgrey;
        padding-bottom: 5%;
      }
    
      #descripcion{
        text-align: justify;
        padding: 0 10%;
        margin-bottom:2%;
        margin-top: 1%;
      }
      
    
      .contExtra {
        display: flex;
      }
    
      
    
    
    
      .fotopaciente {
        width: 50px;
        position: absolute;
        top: 15%;
        right: 5px;
      }
    
      .historial {
        font-size: 1.4rem;
        color: rgb(6, 20, 212);
        margin-bottom: 5px;
        padding-top: 5px;
      }
  
    
    
    
    
    
    
    
    
    
      .flechapeticion {
        float: right;
        text-decoration: underline;
        cursor: pointer;
      }
    
      .cuerpopeticion {
        display: none;
        font-size: 1.3rem;
        width: 80%;
        text-align: justify;
      }
}
