<!--
  Generated template for the ContestarPeticionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">
    <ion-navbar class="navheader">
      <ion-title class="titulo">MedicalAssistant</ion-title>
      <img src="assets/imgs/fotodoc.jpg" class="fotodoctor">
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <div class="contestar-page">
    <div padding class="title-page">
      Contestaciones Dr {{usuario}}
    </div>

    <ion-card padding>
      <ion-card-header>
        <div class="headerline">
          <div slot="start" class="tiltecardtext">
            Peticion <span [innerHTML]="consulta.fecha_consulta"></span>
          </div>
          <div slot="end" style="color: #6478D0" (click)="goto_history()" class="tiltecardtext">
            Historial paciente
          </div>
        </div>
        <ion-item-divider class="divider"></ion-item-divider>
      </ion-card-header>

      <ion-card-content>
          <h2>Edad</h2>
          <ion-item>
              <p>{{consulta.edad}}</p>
          </ion-item>
      </ion-card-content>

      <ion-card-content>
          <h2>Fecha Inicio</h2>
          <ion-item>
              <p>{{consulta.fecha_sintomas}}</p>
          </ion-item>
      </ion-card-content>

      <ion-card-content>
          <h2>Descripción</h2>
            
          <p id="descripcion">{{consulta.descripcion}} </p>
            
          </ion-card-content>
      
      <ion-card-content>
        <h2>Sintomas</h2>
        <ion-item>
          <p *ngFor="let s of consulta.sintomas">{{s}} </p>
        </ion-item>
      </ion-card-content>

      <ion-card-content>
          <h2>Medicamentos Consumidos</h2>
            <ion-item>
              <p *ngFor="let e of consulta.medicamentos_paciente">{{e}} </p>
            </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card padding class="responsecard">
      <ion-textarea [(ngModel)]="consulta.respuesta" placeholder="Respuesta">
      </ion-textarea>
    </ion-card>

    <ion-item padding>
      <ion-label>Receta</ion-label>
      <ion-select [(ngModel)]="medicamento" multiple="true" cancelText="Cancelar" okText="Ok" placeholder="Seleccione">
        <ion-option value="nada">Nada</ion-option>
        <ion-option value="omeprazol">Omeprazol</ion-option>
        <ion-option value="adiro">Adiro 100</ion-option>
        <ion-option value="nolotil">Nolotil</ion-option>
        <ion-option value="paracetamol ">Paracetamol </ion-option>
        <ion-option value="antihistamínicos">Antihistamínicos</ion-option>
        <ion-option value="ibuprofeno">Ibuprofeno</ion-option>
        <ion-option value="enantyum">Enantyum</ion-option>
        <ion-option value="alprazolam">Alprazolam</ion-option>
      </ion-select>
    </ion-item>

    <div class="buttons-bottom" padding>
      <button ion-button color="danger" class="button-bottom" padding>
        Cancelar
      </button>
      <button ion-button class="button-bottom" (click)="update_consulta()" padding>
        Responder
      </button>
    </div>
  </div>

</ion-content>