page-login {

    .navheader{
        height: 67px;
    }
    .toolbar-title-ios{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(6, 20, 212);
        pointer-events: auto;
    }
    /*.button-inner{
        display: none;
    }*/
    .contenedorEslogan{
        margin:0;
        padding: 0;
        border-bottom:0;
    }
    .Eslogan{
        position: relative;
        font-family: 'Raleway', sans-serif;
        top: 0;
        color: #000;
        margin-top:-3%;
        width: 100%;
        font-size: 12px;
    }
    .icono{
        font-size: 33px;
    }
    .campoLog{
        color: rgb(6, 20, 212);
    }
    .inputLog{
        font-size: 1.3rem;
    }
    .FormularioLog{
        margin-top: 10%;
    }
    .contenedorBotones{
        text-align: center;
    }
    .botones{
        margin: 0 5%;
    }

}
