page-pedir-diagnostico {

    .navheader{
        height: 67px;
    }
    .toolbar-title-ios{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(6, 20, 212);
        pointer-events: auto;
    }
    .fotopaciente{
        width: 50px;
        position: absolute;
        top: 15%;
        right: 5px;
    }
    .diag{
        width: 50%;
        size: 50%;
        text-align: right;
    }
    ion-item .text-input{
        text-align: right;
    }
    .contenedorBotones{
        text-align: center;
    }
    .botones{
        margin: 0 5%;
    }
    ion-label{
        font-size: 1.5rem;
    }
    ion-select{
        font-size: 1.5rem;
    }
    ion-input{
        font-size: 1.5rem;
    }
    ion-datetime{
        font-size: 1.5rem;
    }
    
    

}
