page-home {
    .imgprincipal{
        height: 40%;
        top :20%;
        margin:auto;
    }

    div{
        text-align: center;
    }
    span{
        
    }
    .tit1{
        font-size:3em;
        font-display: block;
        color: aqua; 
        
    }
    .tit2 {
        @extend .tit1;
        color:black;
    }

 

}
